@font-face {
  font-family: 'ciclefine';
  src:url('fonts/CicleFina.ttf') format('truetype');
}

@font-face {
  font-family: 'ciclegordita';
  src:url('fonts/Cicle_Gordita-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'ciclefineitalic';
  src:url('fonts/CicleFinaItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'bebas';
  src:url('fonts/BEBAS___-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Colab';
  src:url('fonts/ColabThi-webfont.ttf') format('truetype');
}

