/* Coda Slider (Video)
----------------------------------------------- */
#page-wrap {
  width: 450px; /* Ancho del contenedor general */
  min-height: 365px; /* Alto del contenedor general */
  height: 350px;
  position: absolute;
  overflow: hidden;
}

.slider-wrap {
  width: 450px;
  height: 400px;
  margin-top: -25px;
  position: relative;
}

.stripViewer .panelContainer .panel ul {
  text-align: left;
  margin: 0 15px 0 30px;
}

.stripViewer {
  position: relative;
  overflow: hidden;
  width: 450px; /* Ancho del contenedor de los videos */
  height: 390px; /* Alto del contenedor de los videos */
  margin-bottom:7px;
}
iframe {
  border: 0;
}

.stripViewer .panelContainer { position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel { float: left; height: 100%; position: relative; width: 450px; }
.stripNavL, .stripNavR, .stripNav { display: none; }
.nav-thumb { border: 1px solid black; margin-right: 5px; width: 120px; height: 90px;}
#movers-row { margin: -39px 0 0 62px; }
#movers-row div { width: 16.6%; float: left; }
#movers-row div a.cross-link { float: right; margin-left: 800px; margin-top: -60px;}
.cross-link { display: block; width: 58px; margin-top: -55px; position: relative; padding-top: 3px; z-index: 100; }

.miniatura {
  margin-top: -100px;
  position: absolute;
}
